@import '../../../../style/Variables.scss';

.container {
    width: 100%;

    padding: 1rem;

    border-radius: 1rem;
    border: 1px solid $primary-bd-color;
    background-color: $secondary-bg-color;

    transition: 1s;

    &__main {
        max-width: 100%;
        min-height: 1.5em;

        text-overflow: ellipsis;
        overflow: hidden;
        overflow-wrap: break-word;
        word-spacing: normal;
        line-height: 1.2;

        cursor: pointer;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-top: .5rem;
    }

    &__details {
        display: flex;
        flex-direction: row;

        justify-content: flex-start;

        margin-top: .5rem;

        font-size: .7em;
    }

    &__likes {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        user-select: none;

        &-count {
            margin-right: .2rem;
        }
    }

    &__input {
        width: 100%;
        min-height: 50px;

        background-color: $primary-bg-color;
        border-radius: .5rem;
        border: 2px solid $primary-bd-color;

        color: $primary-text-color;
    }

    &__controllers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: flex-end;
        align-items: flex-start;

        margin-top: .5rem;

        color: $primary-text-color;
    }

    &__btn {
        margin: 0 .1rem;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
