.container {
    display: flex;
    flex-direction: column;

    color: #868D97;
    
    &__input {
        width: 100%;
        min-height: 50px;

        background-color: #1E1F23;
        border-radius: .5rem;
        border: 2px solid #36383D;

        color: #868D97;
    }

    &__controllers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: flex-end;
        align-items: flex-start;

        margin-top: .5rem;

        color: #868D97;
    }

    &__btn {
        margin: 0 .2rem;
        padding: .5rem;

        border-radius: .5rem;
        border: none;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
