@import '../../../style/Variables.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: .5rem;

    background-color: $secondary-bg-color;
    border-radius: 1rem;
    border: 1px solid $primary-bd-color;

    color: $primary-text-color;

    &__number {
        margin-right: .5rem;
        padding: .5rem;
    }

    &__main {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    &__complete {
        margin-left: .5rem;
    }
}
