@import '../../style/Variables.scss';
@import '../../style/Scroll.mixin.scss';

.container {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: $primary-bg-color;

  &__inner {
    position: absolute;
    display: flex;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-x: auto;
    overflow-y: hidden;

    margin: 1rem;
  }

  &_placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 100%;
    height: 100%;
  }

  & &__card {
    max-width: 500px;

    margin: 0 .5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;

    max-height: 100%;

    overflow-x: auto;
    overflow-y: visible;

    padding-bottom: .5rem;

    @include scroll-bar(10px);

    @media only screen and (max-width: 500px) {
      flex-direction: column;

      width: 100%;

      padding-right: 5px;
      padding-bottom: 0;

      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  @media only screen and (max-width: 500px) {
    &__inner {
      justify-content: center;
      align-items: center;
    }

    & &__card {
      width: 100%;

      margin: .5rem 0;
      padding: 1rem .5rem;

      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
