@import '../../style/Scroll.mixin.scss';

.container {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;

    background-color: #1E1F23;

    &__inner {
        position: absolute;
        
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        
        overflow-x: hidden;
        overflow-y: auto;
        
        padding: 1rem;
        
        @include scroll-bar(10px);
    }

    &__heading {
        display: flex;
        flex-direction: row;

        justify-content: space-around;

        padding: 1rem;

        @media only screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;

            & > * {
                min-width: 250px;
                max-width: 250px;

                margin-top: 1rem;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    &__main {
        overflow-x: hidden;
        overflow-y: auto;

        margin-top: 1rem;
        padding-right: 5px;

        @include scroll-bar(10px);
    }
}
