@import '../../style/Variables.scss';

.container {
    background-color: $primary-bg-color;
    border-bottom: 1px solid $primary-bd-color;

    &__inner {
        width: 100%;
        height: 100%;

        padding: 0 1rem;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    &__element {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        padding: 1rem;

        &:hover {
            background-color: #2A2C32;
        }

        a {
            color: #868D97;
            font-size: 1.2em;

            text-decoration: none;

            &::before {
                position: absolute;

                top: 0;
                left: 0;

                display: block;
                content: "";

                width: 100%;
                height: 100%;
            }

            @media only screen and (max-width: 700px) {
                font-size: .9em;
            }
        }
    }
}
