@import '../../style/Variables.scss';

.container {
    display: flex;
    flex-direction: row;

    color: $primary-text-color;
    
    &__input {
        width: 100%;
        min-height: 2em;

        background-color: $primary-bg-color;
        border-radius: .5rem;
        border: 2px solid $primary-bd-color;

        color: $primary-text-color;
    }

    &__btn {
        margin-left: .2rem;

        border-radius: .5rem;
        border: none;
    }
}
